<!DOCTYPE html>
<html>
  <head>
    <title>Supper App</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <h1>Home page</h1>
    <h2><%= name%></h2>
    <a href="/user">Barcha userlarni ko'rish</a>
  </body>
</html>